.additional-services{
    max-width:1334px;
    width: 100%;
    margin:100px 0;
    padding: 0 40px;
}

.additional-services__text{
    width: 867px;
    flex-wrap: wrap;
    font-family: @font1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;
}   