.page-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    &__container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1334px;
        width:100%;
        padding:0 40px;
    }
    &__inf{
        display: flex;
        justify-content: space-between;
        .inf{
            &__list{
                display: flex;
                margin-bottom: 40px;
            }
            &__list ul{
                position: relative;
                padding: 0 0 0 30px;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 4px;
                    background-color: @red;
                    
                }
            }
            &__list ul li{
                list-style: none;
                margin-bottom: 22px;
                &:hover{
                    color:@red_dark;
                    cursor:pointer;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &__mailing{
                display: flex;
                flex-direction: column;
                .mailing__p{
                    margin: 0 0 24px 0;
                }
            }
            &__inputbtn{
                display: flex;
                margin-bottom: 15px;
            }
            &__input{
                width: 275px;
                padding: 15px 28px;
                border:none;
                &:focus{
                    outline: none;
                }
            }
            &__btn{
                display: inline-flex;
                padding: 15px 23px;
                justify-content: center;
                align-items: center;
                background-color: @black;
                color: @white;
                font-family: @font1;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border:none;
                &:hover{
                    background-color: @red_dark;
                }
            }
            &__checkbox{
                display: flex;
                &:hover{
                    cursor: pointer;
                }
                & input{
                    margin-right: 15px;
                }
            }
        }
    }
    &__p{
        color:@black;
        font-family: @font1;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 15px;
    }
    &__social_network{
        display: flex;
        justify-content: center;
        position: relative;
        top:57.6px;
        & > svg:hover{
            color: @red_dark;
            cursor:pointer;
        }
    }
    &__links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .links{
            &__left{
                display: flex;
                flex-direction: column;
            }
            &__p{
                margin-bottom: 14px;
            }
            &__link1{
                margin-right: 60px;
            }
            &__right{
                display: flex;
                align-items: end;
            }
            &__link2{
                margin-right: 15px;
            }
        }
    }
}