.page-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:75px;
}

.page-footer__container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1334px;
    width:100%;
    padding:0 40px;
}

.page-footer__inf{
    display: flex;
    justify-content: space-between;
}

.inf__list{
    display: flex;
}

.inf__rec{
    width:4px;
    height:198px;
    background-color: @red;
    margin-right: 22px;
}

.inf__list ul li{
    list-style: none;
    margin-bottom: 22px;
}
.inf__list ul li:hover{
    color:@red_dark;
    cursor:pointer;
}

.inf__mailing{
    display: flex;
    flex-direction: column;
}

.mailing__p{
    margin-bottom: 24px;
}

.inf__inputbtn{
    display: flex;
    margin-bottom: 15px;
}

.inf__input{
    width: 275px;
    padding: 15px 28px;
    border:none;
}
.inf__input:focus{
    outline: none;
}

.inf__btn{
    display: inline-flex;
    padding: 15px 23px;
    justify-content: center;
    align-items: center;
    background-color: @black;
    color: @white;
    font-family: @font1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border:none;
}
.inf__btn:hover{
    background-color: @red_dark;
}

.inf__checkbox{
    display: flex;
}
.inf__checkbox:hover{
    cursor: pointer;
}

.inf__checkbox input{
    margin-right: 15px;
}

.page-footer__p{
    color:@black;
    font-family: @font1;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.page-footer__social_network{
    display: flex;
    justify-content: center;
    position: relative;
    top:57.6px;
}

.page-footer__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links__left{
    display: flex;
    flex-direction: column;
}

.links__p{
    margin-bottom: 14px;
}

.links__link1{
    margin-right: 60px;
}

.links__right{
    display: flex;
    align-items: end;
}

.links__link2{
    margin-right: 15px;
}